html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.map-display {
	width: 256px;
}

.slider-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.slider-container .slider {
	width: 30%;
}